*** REQUIRMENTS ANALYSIS***

1. Is Login Required for Users?
2. Is Community to add questions required?
3. Are Users allowed to post questions?(if so we need the login for Users too).
4. Database schema?
5. Bac end server (how many routes i.e total web pages)?
