.main{
    display:grid;
    width:calc(100%-180px);
    margin:10px 100px 10px 250px;
    grid-gap: 20px;
    grid-column: 1;

}

@media screen and (max-width: 1000px) {
    .main{
     display:grid;
     grid-column: 1;
     float:left;
     width:calc(100% - 20px);
     margin-top:calc(auto+10px);
     margin-right:10px;
     margin-bottom: auto; 
     margin-left: 10px;
    
    }
   
   }