.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #424242; 
    color:#fff;
    overflow-x: hidden; 
    padding-top: 20px;
  
  }
  
  /* Navbar links */
  .navbar a {
    margin:10px 20px;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:#212121;
  }
  
  /* Current/active navbar link */
  .active {
    background-color:#757575;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 1000px) {
    .navbar a {
      float: none;
      display: block;
    }
    .navbar{
      width:100%;
      height: auto;
      position: relative;
    }
  }